* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    color: #4C591E;
}

/* ======== Nav Section ======== */

nav { 
    width: 100%;
    height: 26px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 20;
}

nav a {
    margin: 0 16px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: none;
    font-size: 17px;
}

/* ======== Main Background ======== */
.main-background {
    height: 550px;
    background-image:url(./Images/background.jpg);
    filter: grayscale(60%);
    background-size: cover;
    background-position: center;
    align-items: center;
    background-image: no-repeat;
    background-attachment: fixed;
    margin: 15px 60px;
    display: flex;
}

.main-background h1 {
    width: 100%;
    opacity: 0.75;
    font-size: 48px;
    color: #99A63C;
}

/* ======== About us Section ======== */
.about-us {
    display: inline-block;
    max-width: 90%;
    margin: 20px 60px;
}

.about-us h2 { 
    font-size: 2em;
    margin-bottom: 18px;
    letter-spacing: 0.075em;
}


/* ======== Photo Sections ======== */

.image-container {
    display: flex;
    margin: 20px 20px;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.image-container img {
    width: 25%;
    margin: 15px;
    display: flex;
}


/* ======== Quote Section ======== */

.quote-container {
    display: inline-block;
    max-width: 90%;
}

.quote-container h2 {
    margin-bottom: 18px;
}

.quote-container p {
    font-style: italic;
}

/* ======== Join Section ======== */

.join {
    margin-bottom: 60px;
}

.join img {
    margin-bottom: 15px;
}

.join-title {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #4C591E;
}

/* ======== Media Section ========= */

@media only screen and (max-width: 1048px) {
    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .about-us h2 {
      margin-top: 2rem;
    }
  
    .about-us {
      max-height: 200px;
    }
  
    img {
      width: 100%;
      margin-left: auto;   
      margin-right: auto;
    }

    nav a{
        display: block;
    }

    .join img {
        max-width: 66%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .quote h2 {
      font-size: 2rem;
    }
  
    img {
      width: 100%;
    }
  }